# GAMS, R, Python-specific auxiliary files
*.~gm
*.bak
*.~op
*.pyc
*.gdx
*.lst
*.log
*.lxi
*.gch
*.gpr
/model/2*/**
/model/$gms*
*.dat
*.tmp
*.RData*
*.pyc
*-checkpoint.ipynb
*~
#*
*#
.
*.Rproj

# MESSAGEix specifics
message_ix/model/MESSAGE_master.gms

# Apple file system
.DS_Store

# local version of auto-documentation features
/doc/build/**
/doc/source/model/**

# files generated during install
ixmp/default_paths.py
build

# rixmp build folder and rhistory
rmessageix/rmessageix*.zip
rmessageix/source/inst/docum/*.html
rmessageix/source/.Rhistory
!rmessageix/source/*.Rproj

# credentials
ixmp/*.properties
config/*.properties

# testdb
.cache/**
tests/testdb/test.properties
tests/testdb/ixmptest.properties
tests/testdb/ixmptest.lck
.Rproj.user

message_ix/model/225c/gamsnext\.cmd

message_ix/model/input_editor\.gms

message_ix/model/225a/

message_ix/model/225b/

message_ix/model/225d/

message_ix/model/225e/

message_ix/model/225f/

message_ix/model/225i/

message_ix/model/\.Rhistory

message_ix/model/data/README\.md

message_ix/model/output/README\.md

tests/testdb/ixmptest\.script
